<div class="XD-CLASS-filter-container">
  <md-toolbar style="background: #3f97b5; color: white">
    <span style="font-size: medium">Filters</span>
    <span class="example-spacer"></span>
    <md-icon>filter_list</md-icon>
  </md-toolbar>
  <div style="width: 100%">
    <div>
      <md-expansion-panel [expanded]="true">
        <md-expansion-panel-header>
          <md-panel-title>
            <b>Programs/Degrees</b>
          </md-panel-title>
        </md-expansion-panel-header>
        <college-program-filter [selectedDegree]="selectedDegree"
                                [selectedProgram]="selectedProgram"
                                (updateSelectedDegree)="updateSelectedDegree.emit($event)"
                                (updateSelectedProgram)="updateSelectedProgram.emit($event)"></college-program-filter>
      </md-expansion-panel>
    </div>
    <div>
      <md-expansion-panel [expanded]="true">
        <md-expansion-panel-header>
          <md-panel-title>
            <b>Location</b>
          </md-panel-title>
        </md-expansion-panel-header>
        <!--<college-location-filter></college-location-filter>-->
      </md-expansion-panel>
    </div>
    <div>
      <md-expansion-panel [expanded]="true">
        <md-expansion-panel-header>
          <md-panel-title>
            <b>School Name</b>
          </md-panel-title>
        </md-expansion-panel-header>
        <college-find-school-name-filter [selectedSchoolName]="selectedSchoolName"
                                         (schoolSelected)="updateSchoolSelected.emit($event)"></college-find-school-name-filter>
      </md-expansion-panel>
    </div>
    <div>
      <md-expansion-panel [expanded]="true">
        <md-expansion-panel-header>
          <md-panel-title>
            <b>Advanced Search</b>
          </md-panel-title>
        </md-expansion-panel-header>
        <college-advanced-filter (selectedSchoolSizes)="updateSelectedSchoolSize.emit($event)"
                                 (selectedSchoolTypes)="updateSelectedSchoolType.emit($event)"></college-advanced-filter>
      </md-expansion-panel>
    </div>
  </div>
</div>
