<md-select multiple class="example-full-width" [(ngModel)]="selectedState" placeholder="Choose states">
  <md-option *ngFor="let state of states" [value]="state.value">
    {{ state.viewValue }}
  </md-option>
</md-select>

<table style="margin-top: 20px;" class="example-full-width" cellspacing="0">
  <tr>
    <td>
      <md-form-field class="example-full-width">
        <input type="number" mdInput placeholder="Mile Radius">
      </md-form-field>
    </td>
    <td>
      <md-form-field class="example-full-width">
        <input type="number" mdInput #postalCode maxlength="5" placeholder="Postal Code" value="94043">
        <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
      </md-form-field>
    </td>
  </tr>
</table>
