<div>
  <div class="center">
      <md-selection-list #schoolSizeList style="margin: 10px; min-width: 250px;">
        <div style="border-bottom: 1px darkred solid; width: 100%">Undergraduate Student Body</div>
        <md-list-option style="text-align: left" *ngFor="let schoolSize of typesOfSchoolSize"
                        [value]="schoolSize.value"
                        (click)="updateSelectedSchoolSize(schoolSizeList.selectedOptions.selected)">
          {{schoolSize.viewValue}}
        </md-list-option>
      </md-selection-list>


      <md-selection-list #schoolTypeList style="margin: 10px; min-width: 250px;">
        <div style="border-bottom: 1px darkred solid; width: 100%">Type of School</div>
        <md-list-option style="text-align: left" *ngFor="let schoolType of typesOfSchool"
                        [value]="schoolType.value"
                        (click)="updateSelectedSchoolType(schoolTypeList.selectedOptions.selected)">
          {{schoolType.viewValue}}
        </md-list-option>
      </md-selection-list>


    <div style="width: 100%">
      <div style="display: inline-block; width: 100%">
        <md-slider md-line style="margin-top: 10px; width: 100%" max="90" min="0" value="0" [thumb-label]="true"></md-slider>
        <div style="100%; margin-top: -15px;"><span style="float: left">$0.0 </span> <span style="float: right">$90K</span></div>
      </div>
      <div>Average Annual Cost</div>
      <div style="display: inline-block; width: 100%">
        <md-slider md-line style="margin-top: 10px; width: 100%" max="100" min="0" value="0" [thumb-label]="true"></md-slider>
        <div style="100%; margin-top: -15px;"><span style="float: left">0% </span> <span style="float: right">100%</span></div>
      </div>
      <div>Graduation Rate ( % )</div>
      <div style="display: inline-block; width: 100%">
        <md-slider md-line style="margin-top: 10px; width: 100%" max="125" min="0" value="0" [thumb-label]="true"></md-slider>
        <div style="100%; margin-top: -15px;"><span style="float: left">$0.00 </span> <span style="float: right">$125.9K</span></div>
      </div>
      <div>Salary After Attending</div>
    </div>

    <md-select class="example-full-width" style="margin: 10px;" placeholder="Specialized mission">
      <md-option *ngFor="let mission of typesOfMissions" [value]="mission.value">
        {{ mission.viewValue }}
      </md-option>
    </md-select>

    <md-select class="example-full-width" style="margin: 10px;" placeholder="Religious affiliation">
      <md-option *ngFor="let religion of typesOfReligions" [value]="religion.value">
        {{ religion.viewValue }}
      </md-option>
    </md-select>
  </div>
