<div clas="XD-CLASS-SEARCH">
  <md-toolbar style="background: #fff;" class="xD-CLASS-HEADER">
    <img style="margin-left: 10px;" width="32px" height="32px" src="../../../assets/img/knowledge.png">
    <span style="margin-left: 10px; font-size: x-large">College Score Card</span>
    <span class="example-spacer"></span>
    <md-paginator [length]="100"
                  [pageSize]="20">
    </md-paginator>
    <button md-raised-button>Compare List</button>
  </md-toolbar>
  <div style="margin-top: 64px;">
    <div class="XD-CLASS-filter-projects">
      <college-search-filter [queryParamMap]="queryParams$ | async"
                             (updateSelectedDegree)="updateSelectedDegree($event)"
                             (updateSelectedProgram)="updateSelectedProgram($event)"
                             (updateSchoolSelected)="updateSelectedSchool($event)"
                             (updateSelectedStates)="updateSelectedStates($event)"
                             (updateSelectedSchoolSize)="updateSelectedSchoolSize($event)"
                             (updateSelectedSchoolType)="updateSelectedSchoolType($event)"></college-search-filter>
    </div>
    <div class="XD-CLASS-SCHOOL">
      <college-school-card-list [schoolCards]="schoolCards$ | async"
                                [schoolCardsLoading]="schoolCardsLoading$ | async"></college-school-card-list>
    </div>
  </div>
</div>

